/* CSS Document */
.bwbin-box{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  border-radius: 7px;
  -moz-box-shadow:    0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow:         0 0 5px #ccc;
  padding:10px;
  background-color:#fff;
  max-width:300px;
}
.bwbin-title{
  color: #336699;
  font-weight:bold;
  border-bottom:3px solid #f90;
  }
.bwbin-title a{ color: #336699; }
.bwbin-divider{ height:7px; position:relative; bottom:-7px; background-color:rgba(255,255,255,0.8);}
.bwbin-divider.btm{ bottom:0; top:-7px; }
.bwbin-content{
  max-height: 300px;
  overflow: auto;
  color:#333;
  }
.bwbin-box .copyright-text a,.bwbin-box .copyright-text{ font-size:10px; color:#aaa; }